{% extends "base.html" %}
{% block content %}

<div class="page-title">
    Admin Login
</div>

{% if error %}
<div class="alert alert-danger text-center">
    {{ error }}
</div>
{% endif %}

<form method="POST">

    <div class="mb-3">
        <label class="form-label">Enter Admin Password</label>
        <input type="password" name="password" class="form-control" required>
    </div>

    <div class="d-grid">
        <button type="submit" class="btn btn-primary-custom text-white">
            Login
        </button>
    </div>

    <a href="/" class="btn-secondary-custom">
        ← Back to Home
    </a>

</form>

{% endblock %}